APP_NAME=BooksDb
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://booksdb.example.com

LOG_CHANNEL=stderr

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=booksdb
DB_USERNAME=booksdb
DB_PASSWORD=

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync
